
@{
    ViewData["Title"] = "CreateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post" class="p-4 border rounded shadow-sm bg-light">

    <h5 class="mb-4 text-center text-success">Yeni Yetenek Ekle</h5>

    <div class="mb-3">
        <label class="form-label fw-semibold">
            Yetenek Adı
        </label>
        <input type="text"
               class="form-control"
               name="SkillTitle"
               placeholder="Örn: ASP.NET Core"
               required />
    </div>

    <div class="mb-4">
        <label class="form-label fw-semibold">
            Level
        </label>
        <input type="number"
               class="form-control"
               name="SkillLevel"
               placeholder="0 - 100"
               min="0"
               max="100"
               required />
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-success btn-lg">
            Ekle
        </button>
    </div>

</form>

